<!-- Nombre del candidato -->

<ng-container *ngIf="banderaTransmitir">
  <div
    class="text-center w-100"
    style="position: absolute; top: 0; font-size: 3rem; color: black"
  >
    {{ candidatoSeleccionado.nombre }}
  </div>
</ng-container>
<!-- Parte del cronómetro -->
<div class="cronometro">
  <ng-container *ngIf="banderaTransmitir">
    <div style="width: 30%; height: 20vh" class="d-flex justify-content-center">
      <ng-container *ngIf="candidatoSeleccionado.id_logo != 0">
        <img
          [src]="
            logos.getFuente(
              candidatoSeleccionado.id_logo,
              candidatoSeleccionado.id_clase
            )
          "
          class="center"
        />
      </ng-container>
    </div>
    <div
      class="d-flex justify-content-center"
      style="width: 45%; position: relative"
    >
      <div
        class="sizeCronometro"
        [ngClass]="{
          colorWarning:
            candidatoSeleccionado.tiempo.min == 0 &&
            candidatoSeleccionado.tiempo.seg < 11 &&
            candidatoSeleccionado.id_logo != 0,
          terminado: candidatoSeleccionado.tiempo.terminado
        }"
      >
        {{ formatTwoDigits(candidatoSeleccionado.tiempo.min) }} :
        {{ formatTwoDigits(candidatoSeleccionado.tiempo.seg) }}
      </div>
    </div>
    <div style="width: 25%; color: black">
      <div style="font-size: 3rem; color: black">
        {{ tipoTiempo }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!banderaTransmitir">
    <div class="d-flex justify-content-center w-100">
      <img
        src="./assets/logos/logoieez.png"
        alt=""
        style="height: 33vh; margin: auto"
      />
    </div>
  </ng-container>
</div>
<!-- Configuración Inicial -->

<div
  class="alert alert-info text-center"
  role="alert"
  style="font-size: 1.5rem"
>
  {{ tipoTiempo }}
</div>
<ng-container *ngIf="tipoTiempo == 'Configuración Inicial'">
  <form #FormInicial="ngForm" novalidate>
    <div class="d-flex align-items-end justify-content-center pl-3">
      <div class="form-group mr-4">
        <label for="exampleFormControlInput1">Candidatos*</label>
        <input
          [(ngModel)]="confInicial.candidatos"
          name="candidatos"
          type="number"
          class="form-control"
          placeholder="16Max"
          #candidato="ngModel"
          min="0"
          max="16"
          required
        />
      </div>
      <!--  -->
      <div class="mr-4">
        <h6 class="text-center">Tiempo Exposición</h6>
        <div class="d-flex">
          <div class="form-group mr-3">
            <label for="exampleFormControlInput1">Minutos*</label>
            <input
              [(ngModel)]="confInicial.tiempo_exposicion_min"
              type="number"
              style="text-align: right"
              class="form-control"
              name="min_exposicion"
              placeholder="00"
              min="0"
              max="60"
              #res_min="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Segundos*</label>
            <input
              [(ngModel)]="confInicial.tiempo_exposicion_seg"
              type="number"
              style="text-align: right"
              class="form-control"
              name="seg_exposicion"
              placeholder="00"
              min="0"
              max="60"
              #res_seg="ngModel"
              required
            />
          </div>
        </div>
      </div>
      <!--  -->
      <div class="mr-4">
        <h6 class="text-center">Tiempo Bolsa</h6>
        <div class="d-flex">
          <div class="form-group mr-3">
            <label for="exampleFormControlInput1">Minutos*</label>
            <input
              [(ngModel)]="confInicial.tiempo_bolsa_min"
              type="number"
              style="text-align: right"
              class="form-control"
              name="min_bolsa"
              placeholder="00"
              min="0"
              max="60"
              #res_min="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Segundos*</label>
            <input
              [(ngModel)]="confInicial.tiempo_bolsa_seg"
              type="number"
              style="text-align: right"
              class="form-control"
              name="seg_bolsa"
              placeholder="00"
              min="0"
              max="60"
              #res_seg="ngModel"
              required
            />
          </div>
        </div>
      </div>
      <!--  -->
      <div>
        <h6 class="text-center">Tiempo Segmentos</h6>
        <div class="d-flex">
          <div class="form-group mr-3">
            <label for="exampleFormControlInput1">Minutos*</label>
            <input
              [(ngModel)]="confInicial.tiempo_segmento_min"
              type="number"
              style="text-align: right"
              class="form-control"
              name="min_segmentos"
              placeholder="00"
              min="0"
              max="60"
              #pre_min="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Segundos*</label>
            <input
              [(ngModel)]="confInicial.tiempo_segmento_seg"
              type="number"
              style="text-align: right"
              class="form-control"
              name="seg_segmentos"
              placeholder="00"
              min="0"
              max="60"
              #pre_seg="ngModel"
              required
            />
          </div>
        </div>
      </div>
      <!-- <div class="">      -->
      <button
        type="button"
        class="btn btn-success mb-3 ml-3"
        (click)="guardarConfInicial(FormInicial)"
      >
        Guardar
      </button>
      <!-- </div>  -->
    </div>
    <div
      *ngIf="bandera_guardar"
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
    >
      <div class="text-center"><b>¡Atención!</b> {{ msgAlert }}.</div>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="bandera_guardar = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </form>
</ng-container>
<!-- Lista de los Candidatos -->
<ng-container *ngIf="banderaPreparados">
  <div class="d-flex justify-content-center">
    <button
      type="button"
      [disabled]="banderaEditarCandidatos"
      class="btn btn-warning pl-5 pr-5 pt-2 pb-2 mr-4"
      (click)="dejarTransmitir(); detenerTiempo()"
    >
      Detener
    </button>
    <button
      type="button"
      class="btn btn-primary pl-4 pr-4 pt-1 pb-1"
      [disabled]="banderaTransmitir || banderaEditarCandidatos"
      *ngIf="banderaResumen && !banderaCierre"
      (click)="banderaResumen = !banderaResumen"
    >
      Segmentos de Discusión
    </button>
    <button
      type="button"
      class="btn btn-primary pl-4 pr-4 pt-1 pb-1"
      [disabled]="banderaTransmitir || banderaCierre || banderaEditarCandidatos"
      *ngIf="!banderaResumen"
      (click)="banderaResumen = !banderaResumen"
    >
      Resumen
    </button>
    <button
      type="button"
      class="btn btn-success pl-5 pr-5 pt-2 pb-2 ml-4"
      [disabled]="banderaTransmitir || banderaCierre || banderaEditarCandidatos"
      (click)="llenarCandidatos(true)"
    >
      Siguiente Bloque
    </button>
    <button
      type="button"
      class="btn btn-success pl-5 pr-5 pt-2 pb-2 ml-4"
      style="background-color: rgb(18, 95, 69)"
      [disabled]="banderaTransmitir || banderaCierre || banderaEditarCandidatos"
      (click)="openDialogCierre()"
    >
      Cierre del debate
    </button>
    <button
    type="button"
    class="btn btn-success pl-5 pr-5 pt-2 pb-2 ml-4"
    style="background-color: rgb(18, 93, 95)"
    [disabled]="banderaTransmitir || banderaCierre || banderaEditarCandidatos"
    (click)="banderaEditarCandidatos = true"
  >
    Editar Candidatos
  </button>
    <button
      type="button"
      class="btn btn-danger pl-5 pr-5 pt-2 pb-2 ml-4"
      [disabled]="banderaTransmitir || banderaEditarCandidatos"
      (click)="openDialogConfirm('Está seguro de reiniciar la configuración')"
    >
      Reiniciar
    </button>
    <button
      type="button"
      class="btn btn-secondary pl-5 pr-5 pt-2 pb-2 ml-4"
      [disabled]="banderaTransmitir || banderaEditarCandidatos"
      (click)="openDialogContrasena()"
    >
      Reajustar Tiempos
    </button>
    <button
      type="button"
      class="btn btn-dark pl-5 pr-5 pt-2 pb-2 ml-4"
      [disabled]="banderaTransmitir || banderaEditarCandidatos"
      (click)="
        openDialogConfirm(
          'Está seguro de finalizar el cronómetro. Todos los valores se reiniciarán'
        )
      "
    >
      Finalizar
    </button>
  </div>
  <div *ngIf="banderaEditarCandidatos" class="d-flex justify-content-center mt-3">
    <button
    type="button"
    class="btn btn-success pl-5 pr-5 pt-2 pb-2 ml-4"    
    (click)="guardarCandidatos(FormCandidatos.valid, true)"
  >
    Guardar
  </button>
  </div>
  <hr />
</ng-container>
<form #FormCandidatos="ngForm" novalidate>
  <div class="row p-3">
    <div
      class="col-md-4 p-3 d-flex"
      *ngFor="let item of candidatosArray; let index = index"
    >
      <ng-container *ngIf="item.id_logo != 0">
        <div
          style="
            min-width: 100px;
            max-width: 100px;
            display: flex;
            justify-content: center;
          "
        >
          <img
            [src]="logos.getFuente(item.id_logo, item.id_clase)"
            height="40px"
            style="margin-right: 10px; max-width: 100px"
          />
        </div>
      </ng-container>

      <div class="form-group mr-3">
        <input
          [(ngModel)]="item.nombre"
          type="textd"
          class="form-control"
          name="NomCand_{{ index }}"
          placeholder="Nombre Candidato {{ index + 1 }}"
          #NomCam_n="ngModel"
          [disabled]="banderaPreparados && !banderaEditarCandidatos"
          required
        />
      </div>
      <ng-container *ngIf="banderaPreparados && banderaResumen">
        <!-- Tiempo Exposición -->
        <div class="text-center d-flex mr-2">
          <div
            id="tiempo_exposicion{{ index }}"
            [class.terminado]="item.tiempo_exposicion.terminado"
          >
            <div>Exposición</div>
            <div style="font-weight: 500">
              {{ formatTwoDigits(item.tiempo_exposicion.min) }}:{{
                formatTwoDigits(item.tiempo_exposicion.seg)
              }}
            </div>
          </div>
          <button
            id="tiempo_exposicion_button{{ index }}"
            type="button"
            class="btn btn-info ml-2"
            [disabled]="banderaTransmitir || banderaEditarCandidatos"
            (click)="iniciarTiempo(index, 'EXPONIENDO')"
          >
            Iniciar
          </button>
        </div>
       
      </ng-container>
      <div
        *ngIf="banderaPreparados && !banderaResumen"
        class="text-center d-flex"
      >
        <div
          id="tiempo_segmento1{{ index }}"
          class="mr-3"
          [class.terminado]="item.tiempo_segmento1.terminado"
        >
          <div>Seg 1</div>
          <div style="font-weight: 500">
            {{ formatTwoDigits(item.tiempo_segmento1.min) }}:{{
              formatTwoDigits(item.tiempo_segmento1.seg)
            }}
          </div>
        </div>
        <button
          id="tiempo_segmento1_button{{ index }}"
          type="button"
          class="btn btn-info"
          [disabled]="banderaTransmitir || banderaEditarCandidatos"
          (click)="iniciarTiempo(index, 'PRIMER SEGMENTO')"
        >
          Iniciar
        </button>
      </div>
      <div
        *ngIf="banderaPreparados && !banderaResumen"
        class="text-center d-flex"
      >
        <div
          id="tiempo_segmento2{{ index }}"
          class="ml-3 mr-3"
          [class.terminado]="item.tiempo_segmento2.terminado"
        >
          <div>Seg 2</div>
          <div style="font-weight: 500">
            {{ formatTwoDigits(item.tiempo_segmento2.min) }}:{{
              formatTwoDigits(item.tiempo_segmento2.seg)
            }}
          </div>
        </div>
        <button
          id="tiempo_segmento2_button{{ index }}"
          type="button"
          class="btn btn-primary"
          [disabled]="banderaTransmitir || banderaEditarCandidatos"
          (click)="iniciarTiempo(index, 'SEGUNDO SEGMENTO')"
        >
          Iniciar
        </button>
      </div>
      <ng-container *ngIf="!banderaPreparados">
        <button
          *ngIf="item.id_logo == 0"
          type="button"
          class="btn btn-primary mr-2"
          (click)="openDialog(true, index)"
        >
          Partido
        </button>
        <button
          *ngIf="item.id_logo == 0"
          type="button"
          class="btn btn-info mr-2"
          (click)="openDialog(false, index)"
        >
          Coalición
        </button>
        <button
          *ngIf="item.id_logo != 0 && !banderaPreparados"
          type="button"
          class="btn btn-danger"
          (click)="quitarLogo(index, item.id_logo)"
        >
          Quitar
        </button>
      </ng-container>
    </div>
    <div *ngIf="tipoTiempo == 'Añadir Candidatos'" class="col-md-4 mt-4">
      <button
        type="button"
        class="btn btn-warning mr-4"
        (click)="openDialogConfirm('Está seguro de reiniciar la configuración')"
      >
        Reiniciar
      </button>
      <button
        type="button"
        class="btn btn-success"
        (click)="guardarCandidatos(FormCandidatos.valid)"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<!-- Modales para selecciona r logos y añadir más tiempo a uno o más candidatos -->

<ng-template #logosDialog>
  <!-- <h2 mat-dialog-title>Seleccione el logo del candidato</h2> -->
  <!-- <mat-dialog-content class="mat-typography"> -->
  <h2 mat-dialog-title>Seleccione el logo del candidato</h2>
  <div class="text-center">
    <div *ngFor="let item of logosArray">
      <img
        [src]="item.imagen"
        alt=""
        height="40px"
        style="cursor: pointer"
        (click)="selectLogo(item.id, item.clase)"
      />
    </div>
  </div>
  <button mat-button mat-dialog-close>cerrar</button>
  <!-- </mat-dialog-content> -->
  <!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>cerrar</button>
  </mat-dialog-actions> -->
</ng-template>

<ng-template #masTiempoDialog>
  <!-- <h2 mat-dialog-title>Ajuste de tiempo</h2>
  <mat-dialog-content class="mat-typography"> -->
  <h2 mat-dialog-title>Ajuste de tiempo</h2>
  <form #formAddTime="ngForm" novalidate>
    <!-- alert -->
    <div
      *ngIf="banderaAjusteTiempo"
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
    >
      <div class="text-center"><b>¡Atención!</b> {{ msgAlert }}.</div>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="banderaAjusteTiempo = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div
        *ngFor="let item of candidatosArray; let index = index"
        class="col-md-12 d-flex align-items-center"
      >
        <div style="width: 190px; text-align: center">
          <img
            [src]="logos.getFuente(item.id_logo, item.id_clase)"
            alt=""
            height="40px"
            style="cursor: pointer"
          />
        </div>
        <div class="text-center ml-2 mr-2" style="width: 200px">
          {{ item.nombre }}
        </div>
        <!-- Tiempo Exposición -->
        <div class="mr-4">
          <h5 class="text-center">Tiempo Exposición</h5>
          <div class="d-flex">
            <div class="form-group mr-3">
              <label for="exampleFormControlInput1">Minutos*</label>
              <input
                id="min_exposicion{{ index }}"
                type="number"
                style="text-align: right"
                class="form-control"
                name="min_expo"
                placeholder="00"
                min="0"
                max="60"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Segundos*</label>
              <input
                id="seg_exposicion{{ index }}"
                type="number"
                style="text-align: right"
                class="form-control"
                name="seg_expo"
                placeholder="00"
                min="0"
                max="60"
              />
            </div>
          </div>
        </div>     

        <!--  -->
        <div class="mr-4">
          <h5 class="text-center">Tiempo Segmento 1</h5>
          <div class="d-flex">
            <div class="form-group mr-3">
              <label for="exampleFormControlInput1">Minutos*</label>
              <input
                id="min_seg1{{ index }}"
                type="number"
                style="text-align: right"
                class="form-control"
                name="min_segmentos"
                placeholder="00"
                min="0"
                max="60"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Segundos*</label>
              <input
                id="seg_seg1{{ index }}"
                type="number"
                style="text-align: right"
                class="form-control"
                name="seg_segmentos"
                placeholder="00"
                min="0"
                max="60"
              />
            </div>
          </div>
        </div>
        <!--  -->
        <div>
          <h5 class="text-center">Tiempo Segmento 2</h5>
          <div class="d-flex">
            <div class="form-group mr-3">
              <label for="exampleFormControlInput1">Minutos*</label>
              <input
                id="min_seg2{{ index }}"
                type="number"
                style="text-align: right"
                class="form-control"
                name="min_segmentos"
                placeholder="00"
                min="0"
                max="60"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Segundos*</label>
              <input
                id="seg_seg2{{ index }}"
                type="number"
                style="text-align: right"
                class="form-control"
                name="seg_segmentos"
                placeholder="00"
                min="0"
                max="60"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <hr />
  <div class="d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-success"
      (click)="
        openDialogConfirm('¿Está seguro de guradar los cambios ralizados?')
      "
    >
      Ajustar
    </button>
    <button mat-button mat-dialog-close>cerrar</button>
  </div>

</ng-template>

<ng-template #contrasenaDialog>
  <h2 mat-dialog-title>Ingrese la contraseña para continuar</h2>
  <mat-dialog-content class="mat-typography">
    <div class="form-group mr-4">
      <input
        [(ngModel)]="passAjuste"
        name="passAjuste"
        type="password"
        class="form-control"
        placeholder="Contraseña"
        #candidato="ngModel"
      />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" class="btn btn-success" (click)="validarContrasena()">
      Continuar
    </button>
    <button mat-button mat-dialog-close>cerrar</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmDialog>
  <h2 mat-dialog-title>Confirmar</h2>
  <mat-dialog-content class="mat-typography">
    {{ textoConfirmar }}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      (click)="banderaConfirmar = true"
      mat-button
      mat-dialog-close
      type="button"
      class="btn btn-success"
    >
      Confirmar
    </button>
    <button
      (click)="banderaConfirmar = false"
      mat-button
      mat-dialog-close
      type="button"
      class="btn btn-danger"
    >
      Cancelar
    </button>
    <!-- <button mat-button mat-dialog-close>cerrar</button> -->
  </mat-dialog-actions>
</ng-template>

<ng-template #cierreDebateDialog>
  <h2 mat-dialog-title>Cierre del Debate</h2>
  <mat-dialog-content class="mat-typography">
    <!--  -->
    <div
      *ngIf="bandera_guardar"
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
    >
      <div class="text-center"><b>¡Atención!</b> {{ msgAlert }}.</div>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="bandera_guardar = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--  -->
    <form #formCierre="ngForm" novalidate>
      <div class="mr-4">
        <!-- <h3 class="text-center">Tiempo de Cierre</h3> -->
        <div class="d-flex">
          <div class="form-group mr-3">
            <label for="exampleFormControlInput1">Minutos*</label>
            <input
              id="inp_min_cierre"
              type="number"
              style="text-align: right"
              class="form-control"
              name="min_cierre"
              placeholder="00"
              min="0"
              max="60"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Segundos*</label>
            <input
              id="inp_seg_cierre"
              type="number"
              style="text-align: right"
              class="form-control"
              name="seg_cierre"
              placeholder="00"
              min="0"
              max="60"
              required
            />
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      (click)="cierreDebate()"
      mat-button
      type="button"
      class="btn btn-success"
    >
      Confirmar
    </button>
    <button mat-button mat-dialog-close type="button" class="btn btn-danger">
      Cancelar
    </button>
    <!-- <button mat-button mat-dialog-close>cerrar</button> -->
  </mat-dialog-actions>
</ng-template>

<!-- tabla para la impresión de los datos -->
<div style="display: none">
  <table id="my-table">
    <thead>
      <tr>
        <th>Número de Bloque</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of estado; let last = last">
        <td>{{ last ? "Cierre" : item.bloque }}</td>
        <td>{{ item.fecha }}</td>
        <td>{{ item.hora }}</td>
        <td>
          <div *ngFor="let item2 of item.estado">
            <b>Candidato: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            <div>{{ item2.nombre }}</div>
            <br />
            <b>Tiempo Exposición: &nbsp;&nbsp;</b>
            <div>
              &nbsp; {{ formatTwoDigits(item2.tiempo_exposicion.min) }}:{{
                formatTwoDigits(item2.tiempo_exposicion.seg)
              }}
            </div>
            <br />
            <b>Tiempo Segmento 1: &nbsp;</b>
            <div>
              &nbsp;
              {{ formatTwoDigits(item2.tiempo_segmento1.min) }}:{{
                formatTwoDigits(item2.tiempo_segmento1.seg)
              }}
            </div>
            <br />
            <b>Tiempo Segmento 2: &nbsp;</b>
            <div>
              &nbsp;
              {{ formatTwoDigits(item2.tiempo_segmento2.min) }}:{{
                formatTwoDigits(item2.tiempo_segmento2.seg)
              }}
            </div>
            <br />
            <br />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
